@charset "utf-8";
body{
	/*background:#D44040 url(images/homebg_red.png) repeat-x;*/
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}
.logo {
	margin-bottom: 15px;
	text-align: left;
}
.mbody {
	border: solid 1px #4C0000;
	margin: auto;
	overflow: hidden;
	width: 773px;
	background: url(images/bg.png) repeat-x #FFFFFF;
	font-size: medium;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	background-color: white;
	padding-left: 5px;
	padding-top: 5px;
	text-align: left;
	
	box-shadow: 2px 2px 5px #282828;
    -moz-box-shadow: 2px 2px 5px #282828;
    -webkit-box-shadow: 2px 2px 5px #282828;
}

.title{
	font-weight:bold;
}
.date{
	font-style:oblique;
}

.wrapper{
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
}
.nav{
	text-align: left;
	margin-bottom: 1px;
}

.active:hover{
	text-shadow:none!important;
}
.nav a{
	color: #FFFFFF;
	font-size: large;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	margin-right: 10px;
	text-decoration: none;
}
.active{
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	background: #bebebe;
	color: #4C0000;
	border-left: solid 1px #4C0000;
	border-top: solid 1px #4C0000;
	border-right: solid 1px #4C0000;
}
.nav a:hover{
	text-shadow: #171717 2px 2px 0px;
}


.top {
	margin: auto;
	width: 780px;
}
.bottom {
	font-style:italic;
	margin: auto;
	color: white;
	width: 780px;
	font-size: small;
}

.cont{
	float: left;
	overflow: hidden;
	width: 530px;
}

.tweetweet{
	margin-top: 15px;
	margin-right: 10px;
	overflow: hidden;
	float: right;
}

.doods{
	border: 1px solid #333;
	padding: 5px;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.doodz{
	border: 1px solid #333;
	padding: 5px;
	margin: 10px;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.javaing{
	vertical-align:top;
	margin-top: 10px;
	font-size: smaller;
	color: #FFF;
}
img[src="images/blue.png"]:hover{
	width: 0;
	padding-left: 51px;
	background-image: url(images/blue_h.png);
}
img[src="images/black.png"]:hover{
	width: 0;
	padding-left: 51px;
	background-image: url(images/black_h.png);
}
img[src="images/red.png"]:hover{
	width: 0;
	padding-left: 51px;
	background-image: url(images/red_h.png);
}
img[src="images/green.png"]:hover{
	width: 0;
	padding-left: 51px;
	background-image: url(images/green_h.png);
}

