<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Dictionary"
            connectionString="server=www.cseas2.niu.edu;uid=net9;pwd=otddb9;database=dictionary9"
            providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyIdentity name="SpellChecker">
      <bindingRedirect oldVersion="1.2.0.0" newVersion="2.0.0.0" />
    </assemblyIdentity> 
  </runtime>
</configuration>